
*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'sans-serif';
}

body{
    min-height: 100vh;
    background:#070707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
}

header { 
    margin-top: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    .logo{
        font-size: 2em;
        color: white;
    }

    .nav {
        background-color: black;
        font-family: sans-serif;
        font-size: 16px;
        text-color: white;
        border-radius: 4px;
        margin: 10px 0;
      }

      .nav a {
        color: white;
        float: left;
        transition: 0.5s;
      }
      
      .nav a:hover {
        background-color: #ccc;
        color: black;
      }
    
  }
